<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.hubrussel.ti.goforchange.enquete">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="be.hubrussel.ti.goforchange.enquete.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.hubrussel.ti.goforchange.enquete.activities.SendSavedSurveys"
            android:label="@string/title_activity_send_saved_surveys"
            android:parentActivityName="be.hubrussel.ti.goforchange.enquete.activities.MainActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name="be.hubrussel.ti.goforchange.enquete.activities.QuestionActivity"
            android:label="@string/title_activity_question"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="be.hubrussel.ti.goforchange.enquete.activities.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>
